.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.title .clock_img {
  position: relative;
  width: 265px;
  height: 265px;
}

.title_img {
  position: absolute;
  width: 564px;
}

.title_img img {
  width: 100%;
}